.main-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;

    .logo-link {
        height: 60px;
        display: inline-block;
        padding: 15px 0;

        img {
            height: 100%;
        }
    }

    .nav-content-container {
        @include flexbox;
        justify-content: space-between;


        %icons {
            position: fixed;
            top: 0;
            right: 0;
            font-size: 26px;
            padding: 15px 25px;
            cursor: pointer;
        }

        .hamburger {

            .fas.fa-bars {
                @extend %icons;
                color: $color-primary;
            }

            .fas.fa-times {
                @extend %icons;
                color: #fff;
            }

        }

        .hamburger-opened {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            max-width: $extra-small-size;
            background-color: $color-primary;
            text-align: right;
            padding: 15px 25px;

            .nav-list {
                margin-top: 38px;
                list-style: none;

                .nav-item {

                    line-height: 30px;

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-family: $font-primary;
                    }
                }

            }

        }
    }

}

@media all and (min-width: $large-size) {
    .main-navbar {

        .logo-link {
            height: 100px;
        }

        .hamburger {


            .hamburger-opened {
                @include flexbox;
                height: 60px;
                position: fixed;
                left: 15%;
                margin-top: 0;
                padding-top: 0;
                background-color: transparent;
                max-width: fit-content;

                .nav-list {
                    margin: 50px 0;
                    text-align: center;
                    padding: 0;

                    .nav-item {
                        display: inline;
                        justify-content: space-evenly;
                        padding: 0 20px;
        

                        a {
                            color: $color-secondary;
                            text-transform: uppercase;
                            font-size: $menu-footer-font-size;
                            font-weight: 600;
                        }

                    }

                }
            }

            .fas.fa-times,
            .fas.fa-bars {
                display: none;
            }

        }

    }
}