/* Fonts: */

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Bellota', cursive;


/* Font size: */

$font-size-primary: 16px;
$font-size-secondary: 42px;


/* Colors: */

$color-primary: #1ba4ce;
$color-secondary: #473452;
$color-accent: #30383b;
$color-shadow: #f0f0f0;

$text-color-primary: #888888;
$text-color-secondary: #555555;


/* Container size: */

$small-container-size: 100%;
$large-container-size: 960px;
$extra-large-container-size: 1140px;


/* Mobile sizes: */

$extra-small-size: 480px;
$small-size: 576px;
$medium-size: 768px;
$large-size: 992px;
$extra-large-size: 1200px;
