%btn {
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    padding: 12px 26px;
    color: #fff;
    background-color: $color-primary;
}

.primary-button {
    @extend %btn;
}

.primary-button:hover {
    background-color: $color-accent;
    transition-duration: 0.3s;
}

.input-button {
    @extend %btn;
    color: #473452;
    background-color: #fff;
    font-weight: 600;
}

.input-button:hover {
    color: #fff;
    background-color: $color-accent;
    transition-duration: 0.3s;
}