%input {
    background-color: $color-primary;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 10px 0;
    margin-bottom: 0;
    color: #fff;
}

input, select, option {
    @extend %input;
}

textarea {
    @extend %input;
}