* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: $text-color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    font-size: $font-size-secondary;
    color: $color-secondary;
}

p,
a,
input {
    font-size: $font-size-primary;
}

.container {
    max-width: $small-container-size;
    width: $small-container-size;
    margin: auto;
    padding-left: 23px;
    padding-left: 23px;
}

@media all and (min-width: $large-size) {
    .container {
        max-width: $large-container-size;
    }
}

@media all and (min-width: $extra-large-size) {
    .container {
        max-width: $extra-large-container-size;
    }
}