@charset "UTF-8";
/* Utils: */ /* Fonts: */
/* Font size: */
/* Colors: */
/* Container size: */
/* Mobile sizes: */
/* Base: */
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #888888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellota", cursive;
  font-size: 42px;
  color: #473452;
}

p,
a,
input {
  font-size: 16px;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding-left: 23px;
  padding-left: 23px;
}

@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* Fonts: */
/* font-family: 'Bellota', cursive;
font-family: 'Roboto', sans-serif; */
/* Layout: */
.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.main-navbar .logo-link {
  height: 60px;
  display: inline-block;
  padding: 15px 0;
}
.main-navbar .logo-link img {
  height: 100%;
}
.main-navbar .nav-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-navbar .nav-content-container .hamburger .fas.fa-times, .main-navbar .nav-content-container .hamburger .fas.fa-bars {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 26px;
  padding: 15px 25px;
  cursor: pointer;
}
.main-navbar .nav-content-container .hamburger .fas.fa-bars {
  color: #1ba4ce;
}
.main-navbar .nav-content-container .hamburger .fas.fa-times {
  color: #fff;
}
.main-navbar .nav-content-container .hamburger-opened {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 480px;
  background-color: #1ba4ce;
  text-align: right;
  padding: 15px 25px;
}
.main-navbar .nav-content-container .hamburger-opened .nav-list {
  margin-top: 38px;
  list-style: none;
}
.main-navbar .nav-content-container .hamburger-opened .nav-list .nav-item {
  line-height: 30px;
}
.main-navbar .nav-content-container .hamburger-opened .nav-list .nav-item a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

@media all and (min-width: 992px) {
  .main-navbar .logo-link {
    height: 100px;
  }
  .main-navbar .hamburger .hamburger-opened {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    position: fixed;
    left: 15%;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent;
    max-width: fit-content;
  }
  .main-navbar .hamburger .hamburger-opened .nav-list {
    margin: 40px 0;
    text-align: center;
    padding: 0;
  }
  .main-navbar .hamburger .hamburger-opened .nav-list .nav-item {
    display: inline;
    justify-content: space-evenly;
    padding: 0 20px;
  }
  .main-navbar .hamburger .hamburger-opened .nav-list .nav-item a {
    color: #473452;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  .main-navbar .hamburger .fas.fa-times,
.main-navbar .hamburger .fas.fa-bars {
    display: none;
  }
}
#home {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 700px;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/header-flowers.png");
  background-position: left 240px;
  background-repeat: no-repeat;
  background-size: 8%;
}
#home img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30%;
  z-index: 1500;
}
#home .home-container {
  padding-left: 7%;
  max-width: 100%;
  width: 100%;
  margin-bottom: 40px;
}
#home .home-container .first-paragraph,
#home .home-container h1 {
  font-family: "Bellota", cursive;
}
#home .home-container p {
  font-size: 16px;
  margin-bottom: 45px;
}
#home .home-container .first-paragraph {
  color: #473452;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0;
}
#home .home-container .second-paragraph {
  color: #555;
  line-height: 22px;
}
#home .home-container h1 {
  font-size: 50px;
  color: #1e2528;
  margin-top: 5px;
}
#home .home-container a {
  text-decoration: none;
  padding: 12px 1 0px;
  display: inline-block;
}
#home .home-container a.reserve {
  border: none;
  background-color: #1ba4ce;
  color: #fff;
  padding: 15px 20px;
  margin-right: 10px;
}
#home .home-container a.reserve:hover {
  background-color: #30383b;
  transition-duration: 0.3s;
}

@media all and (min-width: 1200px) {
  #home img {
    max-width: 40%;
    display: block;
  }
  #home .container-header {
    width: 55%;
  }
}
@media all and (min-width: 992px) {
  #home img {
    display: block;
  }
  .home-container .container-header {
    width: 60%;
  }
}
#about {
  text-align: center;
}
#about .about-section {
  margin: auto;
  margin-bottom: 100px;
  padding: 20px;
}
#about .about-section .logo {
  height: 75px;
}
#about .about-section p {
  width: 100%;
  margin-bottom: 40px;
  font-weight: 100;
  line-height: 23px;
}
#about .about-section p.about-paragraph {
  text-transform: uppercase;
  color: #473452;
  letter-spacing: 2px;
  font-weight: 500;
}

@media all and (min-width: 1200px) {
  .about-section {
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .about-section {
    width: 75%;
  }
}
.row {
  margin: 70px 0;
  height: 340px;
  display: flex;
}
.row .service-link {
  flex-basis: 25%;
  position: relative;
}
.row .service-link .img-service {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.row .service-link .service-cover {
  position: absolute;
  background-color: rgba(27, 164, 206, 0.6);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.row .service-link .service-cover:hover {
  opacity: 1;
}
.row .service-link .service-cover .image-icon {
  width: 80px;
  height: auto;
}
.row .service-link .service-cover h3 {
  color: #fff;
  font-size: 22px;
}

@media all and (max-width: 992px) {
  .row {
    flex-wrap: wrap;
    height: 650px;
  }
  .row .service-link {
    height: 50%;
    flex-basis: 50%;
  }
  .row .service-link .image-icon {
    width: 30px;
    height: auto;
  }
  .row .service-link h3 {
    color: #fff;
    font-size: 1.5em;
  }
}
@media all and (max-width: 768px) {
  .row {
    height: 450px;
  }
  .row .service-link {
    flex-basis: 100%;
  }
}
.popular-procedures {
  margin-bottom: 70px;
}
.popular-procedures .procedures-container .procedures-header {
  text-align: center;
  max-width: 100%;
  padding: 0 20px;
}
.popular-procedures .procedures-container .procedures-header p {
  font-weight: 100;
  line-height: 24px;
}
.popular-procedures .procedures-container .procedures-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
  padding: 10px 35px;
}
.popular-procedures .procedures-container .procedures-row .procedure {
  text-align: center;
  width: 100%;
}
.popular-procedures .procedures-container .procedures-row .procedure .procedure-inner {
  border: 1px solid #e2e5ea;
  padding: 20px 15px;
  margin: 15px 0;
  padding-bottom: 36px;
}
.popular-procedures .procedures-container .procedures-row .procedure .procedure-inner:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}
.popular-procedures .procedures-container .procedures-row .procedure .procedure-inner img {
  width: 98%;
  margin: auto;
}
.popular-procedures .procedures-container .procedures-row .procedure .procedure-inner h4 {
  font-size: 22px;
}
.popular-procedures .procedures-container .procedures-row .procedure .procedure-inner p {
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 95%;
}
.popular-procedures .procedures-container .procedures-row .procedure .procedure-inner a {
  background-color: #30383b;
}
.popular-procedures .procedures-container .procedures-row .procedure .procedure-inner a:hover {
  background-color: #1ba4ce;
  transition-duration: 0.3s;
}

@media all and (min-width: 768px) {
  .popular-procedures {
    margin-bottom: 70px;
  }
  .popular-procedures .procedures-container {
    margin: 50px 20px;
    padding: 30px;
  }
  .popular-procedures .procedures-container .procedures-header {
    text-align: center;
    max-width: 70%;
    margin: auto;
  }
  .popular-procedures .procedures-container .procedures-header p {
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .popular-procedures .procedures-container .procedures-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px 30px;
  }
  .popular-procedures .procedures-container .procedures-row .procedure {
    text-align: center;
    width: 33%;
    padding: 0 10px;
  }
  .popular-procedures .procedures-container .procedures-row .procedure .procedure-inner {
    border: 1px solid #e2e5ea;
    padding: 20px 15px;
    margin: 15px 0;
    padding-bottom: 36px;
  }
  .popular-procedures .procedures-container .procedures-row .procedure .procedure-inner:hover {
    box-shadow: 0 5px 20px #f0f0f0;
  }
  .popular-procedures .procedures-container .procedures-row .procedure .procedure-inner img {
    width: 95%;
    margin: auto;
  }
  .popular-procedures .procedures-container .procedures-row .procedure .procedure-inner h4 {
    font-size: 22px;
  }
  .popular-procedures .procedures-container .procedures-row .procedure .procedure-inner p {
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .popular-procedures .procedures-container .procedures-row .procedure .procedure-inner a {
    background-color: #30383b;
  }
  .popular-procedures .procedures-container .procedures-row .procedure .procedure-inner a:hover {
    background-color: #1ba4ce;
    transition-duration: 0.3s;
  }
}
#team {
  margin-bottom: 220px;
}
#team .team-container .team-header {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
#team .team-container .team-header p {
  font-weight: 100;
  line-height: 24px;
}
#team .team-container .team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 100px;
}
#team .team-container .team-row .team-image {
  position: relative;
  width: 90%;
  margin-top: 60px;
}
#team .team-container .team-row .team-image img {
  width: 100%;
}
#team .team-container .team-row .team-image .team-slide {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  bottom: -50px;
  margin: auto;
  text-align: center;
  width: 80%;
  transition: all 0.3s;
}
#team .team-container .team-row .team-image .team-slide .team-social-wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
#team .team-container .team-row .team-image .team-slide .team-social-wrapper .social-icons {
  font-size: 30px;
  margin: 0 15px;
  color: #473452;
  transition: all 0.3s;
}
#team .team-container .team-row .team-image .team-slide .team-social-wrapper .social-icons:hover {
  color: #1ba4ce;
}
#team .team-container .team-row .team-image .team-slide:hover {
  padding-bottom: 30px;
  box-shadow: 0 5px 20px #f0f0f0;
}
#team .team-container .team-row .team-image .team-slide:hover .team-social-wrapper {
  height: 40px;
}
#team .team-container .team-row .team-image .team-slide h4 {
  font-size: 22px;
}

@media all and (min-width: 768px) {
  #team .team-container .team-header {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }
  #team .team-container .team-header p {
    font-weight: 100;
    line-height: 24px;
  }
  #team .team-container .team-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 100px;
  }
  #team .team-container .team-row .team-image {
    position: relative;
    width: 30%;
    padding: 10px 0;
    margin: 10px 0;
  }
  #team .team-container .team-row .team-image img {
    width: 100%;
    border: 12px solid #fff;
  }
}
/* @media all and (max-width: $small-size) {
    #team {

        .team-container {

            .team-row {

                .team-image {


                    .team-slide {


                        h4,
                        p {
                            width: 100%;
                        }

                        .team-social-wrapper {
                            height: 40px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 460px) {
    #team {

        .team-container {

            .team-row {

                .team-image {
                    margin: 0;

                    .team-slide {

                        .team-social-wrapper {
                            height: 20px;

                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: $medium-size) {
    #team {

        .team-container {
            margin: 20px 40px;
            padding: 15px;

            .team-header {
                max-width: 60%;
            }

            .team-row {
                @include flexbox;
                justify-content: center;
                max-width: 100%;
                margin-bottom: 100px;

                .team-image {
                    margin: 0;
                    width: 33%;

                    .team-slide {

                        .team-social-wrapper {
                            height: 20px;

                        }
                    }
                }
            }
        }
    }
} */
#appointment {
  background-color: #1ba4ce;
  margin-bottom: 100px;
}
#appointment .appointment-form {
  width: 100%;
  padding: 60px 40px;
  padding-bottom: 30px;
}
#appointment .appointment-form input {
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
}
#appointment .appointment-form input::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
#appointment .appointment-form select {
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
}
#appointment .appointment-form select::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
#appointment .appointment-form textarea {
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
  padding-bottom: 40px;
}
#appointment .appointment-form textarea::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
#appointment .appointment-form .input-button {
  width: 50%;
  margin-top: 18px;
}

@media all and (max-width: 480px) {
  #appointment .appointment-form .input-button {
    width: 175px;
  }
}
@media all and (min-width: 992px) {
  #appointment {
    display: flex;
    flex-wrap: wrap;
  }
  #appointment .appointment-image {
    width: 40%;
    background-image: url("../img/contact-bg.jpg");
    background-position: center;
  }
  #appointment .appointment-form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    padding: 80px;
  }
  #appointment .appointment-form input, #appointment .appointment-form select {
    width: 49%;
  }
  #appointment .appointment-form textarea {
    margin-top: 50px;
  }
  #appointment .appointment-form .input-button {
    width: 300px;
    margin-top: 50px;
  }
}
#features {
  margin-bottom: 70px;
}
#features .blog-container .blog-header {
  text-align: center;
  max-width: 100%;
  padding: 0 20px;
}
#features .blog-container .blog-header p {
  font-weight: 100;
  line-height: 24px;
}
#features .blog-container .blog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
  padding: 10px 35px;
}
#features .blog-container .blog-row .blog-item {
  text-align: center;
  width: 100%;
}
#features .blog-container .blog-row .blog-item .blog-item-inner {
  border: 1px solid #e2e5ea;
  padding: 20px 15px;
  margin: 15px 0;
  padding-bottom: 36px;
}
#features .blog-container .blog-row .blog-item .blog-item-inner:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}
#features .blog-container .blog-row .blog-item .blog-item-inner img {
  width: 98%;
  margin: auto;
  padding-bottom: 30px;
}
#features .blog-container .blog-row .blog-item .blog-item-inner .blog-date {
  font-size: 12px;
  background-color: transparent;
  text-decoration: none;
  color: #888;
  font-weight: 100;
}
#features .blog-container .blog-row .blog-item .blog-item-inner h4 {
  font-size: 22px;
}
#features .blog-container .blog-row .blog-item .blog-item-inner p {
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 95%;
}
#features .blog-container .blog-row .blog-item .blog-item-inner .primary-button {
  background-color: #30383b;
  padding: 12px 16px;
}
#features .blog-container .blog-row .blog-item .blog-item-inner .primary-button:hover {
  background-color: #1ba4ce;
  transition-duration: 0.3s;
}

@media all and (min-width: 768px) {
  #features {
    margin-bottom: 70px;
  }
  #features .blog-container {
    margin: 50px 20px;
    padding: 30px;
  }
  #features .blog-container .blog-header {
    text-align: center;
    max-width: 70%;
    margin: auto;
  }
  #features .blog-container .blog-header p {
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 50px;
  }
  #features .blog-container .blog-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px 30px;
  }
  #features .blog-container .blog-row .blog-item {
    text-align: center;
    width: 33%;
    padding: 0 10px;
  }
  #features .blog-container .blog-row .blog-item .blog-item-inner {
    border: 1px solid #e2e5ea;
    padding: 20px 15px;
    margin: 15px 0;
    padding-bottom: 36px;
  }
  #features .blog-container .blog-row .blog-item .blog-item-inner:hover {
    box-shadow: 0 5px 20px #f0f0f0;
  }
  #features .blog-container .blog-row .blog-item .blog-item-inner img {
    width: 95%;
    margin: auto;
  }
  #features .blog-container .blog-row .blog-item .blog-item-inner h4 {
    font-size: 22px;
  }
  #features .blog-container .blog-row .blog-item .blog-item-inner p {
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 40px;
  }
  #features .blog-container .blog-row .blog-item .blog-item-inner .primary-button {
    background-color: #30383b;
  }
  #features .blog-container .blog-row .blog-item .blog-item-inner .primary-button:hover {
    background-color: #1ba4ce;
    transition-duration: 0.3s;
  }
}
/* Components: */
.input-button, .primary-button {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  padding: 12px 26px;
  color: #fff;
  background-color: #1ba4ce;
}

.primary-button:hover {
  background-color: #30383b;
  transition-duration: 0.3s;
}

.input-button {
  color: #473452;
  background-color: #fff;
  font-weight: 600;
}

.input-button:hover {
  color: #fff;
  background-color: #30383b;
  transition-duration: 0.3s;
}

.service-cover {
  position: relative;
  transition: all 0.3s;
}

.service-cover:hover {
  background-color: rgba(27, 164, 206, 0.6);
}

textarea, input, select, option {
  background-color: #1ba4ce;
  border: none;
  border-bottom: 1px solid #fff;
  margin: 10px 0;
  margin-bottom: 0;
  color: #fff;
}/*# sourceMappingURL=style.css.map */