@charset "UTF-8";
/* Utils: */ /* Fonts: */
/* Font size: */
/* Colors: */
/* Container size: */
/* Mobile sizes: */
/* Base: */
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #888888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellota", cursive;
  font-size: 42px;
  color: #473452;
}

p,
a,
input {
  font-size: 16px;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding-left: 23px;
  padding-left: 23px;
}

@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* Fonts: */
/* font-family: 'Bellota', cursive;
font-family: 'Roboto', sans-serif; */
/* Layout: */
.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.main-navbar .logo-link {
  height: 60px;
  display: inline-block;
  padding: 15px 0;
}
.main-navbar .logo-link img {
  height: 100%;
}
.main-navbar .nav-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-navbar .nav-content-container .hamburger .fas.fa-times, .main-navbar .nav-content-container .hamburger .fas.fa-bars {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 26px;
  padding: 15px 25px;
  cursor: pointer;
}
.main-navbar .nav-content-container .hamburger .fas.fa-bars {
  color: #1ba4ce;
}
.main-navbar .nav-content-container .hamburger .fas.fa-times {
  color: #fff;
}
.main-navbar .nav-content-container .hamburger-opened {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 480px;
  background-color: #1ba4ce;
  text-align: right;
  padding: 15px 25px;
}
.main-navbar .nav-content-container .hamburger-opened .nav-list {
  margin-top: 38px;
  list-style: none;
}
.main-navbar .nav-content-container .hamburger-opened .nav-list .nav-item {
  line-height: 30px;
}
.main-navbar .nav-content-container .hamburger-opened .nav-list .nav-item a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

@media all and (min-width: 992px) {
  .main-navbar .logo-link {
    height: 100px;
  }
  .main-navbar .hamburger .hamburger-opened {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    position: fixed;
    left: 15%;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent;
    max-width: fit-content;
  }
  .main-navbar .hamburger .hamburger-opened .nav-list {
    margin: 50px 0;
    text-align: center;
    padding: 0;
  }
  .main-navbar .hamburger .hamburger-opened .nav-list .nav-item {
    display: inline;
    justify-content: space-evenly;
    padding: 0 20px;
  }
  .main-navbar .hamburger .hamburger-opened .nav-list .nav-item a {
    color: #473452;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  .main-navbar .hamburger .fas.fa-times,
.main-navbar .hamburger .fas.fa-bars {
    display: none;
  }
}
#home {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 700px;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/header-flowers.png");
  background-position: left 240px;
  background-repeat: no-repeat;
  background-size: 8%;
}
#home img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30%;
  z-index: 1500;
}
#home .home-container {
  padding-left: 7%;
  max-width: 100%;
  width: 100%;
  margin-bottom: 40px;
}
#home .home-container .first-paragraph,
#home .home-container h1 {
  font-family: "Bellota", cursive;
}
#home .home-container p {
  font-size: 16px;
  margin-bottom: 45px;
}
#home .home-container .first-paragraph {
  color: #473452;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0;
}
#home .home-container .second-paragraph {
  color: #555;
  line-height: 22px;
}
#home .home-container h1 {
  font-size: 50px;
  color: #1e2528;
  margin-top: 5px;
}
#home .home-container a {
  text-decoration: none;
  padding: 12px 1 0px;
  display: inline-block;
}
#home .home-container a.reserve {
  border: none;
  background-color: #1ba4ce;
  color: #fff;
  padding: 15px 20px;
  margin-right: 10px;
}
#home .home-container a.reserve:hover {
  background-color: #30383b;
  transition-duration: 0.3s;
}

@media all and (min-width: 1200px) {
  #home img {
    max-width: 40%;
    display: block;
  }
  #home .container-header {
    width: 55%;
  }
}
@media all and (min-width: 992px) {
  #home img {
    display: block;
  }
  .home-container .container-header {
    width: 60%;
  }
}
#about {
  text-align: center;
}
#about .about-section {
  margin: auto;
  margin-bottom: 100px;
  padding: 20px;
}
#about .about-section .logo {
  height: 75px;
}
#about .about-section p {
  width: 100%;
  margin-bottom: 40px;
  font-weight: 100;
  line-height: 23px;
}
#about .about-section p.about-paragraph {
  text-transform: uppercase;
  color: #473452;
  letter-spacing: 2px;
  font-weight: 500;
}

@media all and (min-width: 1200px) {
  .about-section {
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .about-section {
    width: 75%;
  }
}
#services {
  max-width: 100%;
  margin: 70px 0;
}
#services .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#services .row a {
  width: 100%;
  height: 340px;
}
#services .row a img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

@media all and (min-width: 768px) {
  #services {
    max-width: 100%;
  }
  #services .row a {
    position: relative;
    width: 50%;
    height: 340px;
  }
  #services .row a img {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }
  #services .row a .service-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #services .row a .service-cover .image-icon {
    /* position: absolute;
    top: 35%;
    left: 40%; */
    height: 50px;
    width: 70px;
  }
  #services .row a .service-cover h3 {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 40%;
    left: 50%;
  }
}
@media all and (min-width: 992px) {
  #services {
    max-width: 100%;
  }
  #services .row {
    position: relative;
  }
  #services .row a {
    width: 25%;
    height: 400px;
  }
  #services .row a img {
    width: 100%;
    object-fit: cover;
    height: 400px;
  }
  #services .row a .service-cover {
    text-align: center;
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
  }
  #services .row a .service-cover .image-icon {
    position: absolute;
    top: 32%;
    left: 40%;
    height: 55px;
    width: 70px;
  }
  #services .row a .service-cover h3 {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 46%;
    left: 25%;
  }
}
/* Components: */
.primary-button {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  padding: 12px 32px;
  color: #fff;
  background-color: #1ba4ce;
}

.primary-button:hover {
  background-color: #30383b;
  transition-duration: 0.3s;
}

.service-cover {
  position: relative;
  transition: all 0.3s;
}

.service-cover:hover {
  background-color: rgba(27, 164, 206, 0.6);
}/*# sourceMappingURL=style.css.map */