body {
    text-align: center;
}

a {
    text-decoration: none;
    border: 1px solid black;
}

a:hover {
    background-color: rgb(255, 183, 227);
}

nav {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

header {
    background-color: rgb(208, 255, 113);
}

section {
    background-color: rgb(197, 136, 255);
}

footer {
    background-color: rgb(169, 239, 255);
}
 
header,
section,
footer {
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}